metric_notifier_nodered_1.json
[
    {
        "id": "e7d35e589b0c4fe0",
        "type": "tab",
        "label": "metric_notify_tempfix",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1dcdf8bfe51b3f5a",
        "type": "lynx-in",
        "z": "e7d35e589b0c4fe0",
        "server": "c9cde17244aa5d2c",
        "use_meta_filter": false,
        "installation_id": 0,
        "function_id": 0,
        "function_name": "",
        "filter": [],
        "topic": "",
        "client_id": 0,
        "x": 350,
        "y": 120,
        "wires": [
            [
                "21db796a13c71867"
            ]
        ]
    },
    {
        "id": "21db796a13c71867",
        "type": "lynx-get-meta",
        "z": "e7d35e589b0c4fe0",
        "use_msg": false,
        "server": "",
        "x": 640,
        "y": 120,
        "wires": [
            [
                "fec12efe0598d7e1"
            ]
        ]
    },
    {
        "id": "236a9c4aafe30e18",
        "type": "lynx-notification",
        "z": "e7d35e589b0c4fe0",
        "server": "",
        "installation_id": 0,
        "output_id": 0,
        "output_name": "",
        "executor_id": 0,
        "message_id": 0,
        "x": 1760,
        "y": 120,
        "wires": []
    },
    {
        "id": "fec12efe0598d7e1",
        "type": "function",
        "z": "e7d35e589b0c4fe0",
        "name": "contains only metadata for metric_monitor.status value (status: \"[]\")",
        "func": "if (msg.meta && msg.meta['metric_monitor.status']) {\n    msg.payload = {\n        value: msg.payload.value, // Include the original value if needed\n        timestamp: msg.payload.timestamp, // Include the timestamp if needed\n        status: msg.meta['metric_monitor.status'] // Extract the status field\n    };\n} else {\n    // Handle the case where metric_monitor.status is missing\n    msg.payload = { error: \"'metric_monitor.status' not found in metadata\" };\n}\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 120,
        "wires": [
            [
                "c33f3380f3fc3890"
            ]
        ]
    },
    {
        "id": "c33f3380f3fc3890",
        "type": "switch",
        "z": "e7d35e589b0c4fe0",
        "name": "",
        "property": "payload.status",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 1590,
        "y": 120,
        "wires": [
            [],
            [],
            [
                "236a9c4aafe30e18"
            ]
        ]
    },
    {
        "id": "dc1e5ab833b1db4f",
        "type": "comment",
        "z": "e7d35e589b0c4fe0",
        "name": "Tom version att fylla i",
        "info": "",
        "x": 140,
        "y": 120,
        "wires": []
    },
    {
        "id": "e8b262a6a55e08a1",
        "type": "function",
        "z": "e7d35e589b0c4fe0",
        "name": "contains all metadata if someone needs that",
        "func": "msg.payload = {\n    value: msg.payload.value,\n    timestamp: msg.payload.timestamp,\n    meta: msg.meta // Includes all metadata\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "c9cde17244aa5d2c",
        "type": "lynx-server",
        "name": "",
        "url": "",
        "api_key": "",
        "broker_url": ""
    }
]